* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movie {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.movie iframe {
    width: 1400px;
    height: 900px;
}