* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 0px 5%;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.header-menu {
    display: flex;
    align-items: center;
    height: 70px;
    cursor: pointer;
}

.header-menu li {
    margin: 0px 15px;
}

.header-menu a {
    color: #b3b6b7;
    font-size: 15px;
    padding: 0px 15px;
}

.header-menu i {
    color: #ffffff;
    margin-left: -10px;
    margin-top: 2px;
    float: right;
    transition: all 0.25s ease-in-out;
}

.header-menu li a:hover{
    color: #ffffff;
} 

.header-menu li:hover>i {
    transform: rotate(180deg);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-menu img {
    width: 150px;
}

ul.signup-login {
    display: flex;
    color: #ffffff;
}

ul.signup-login a {
    margin: 0px 10px;
    font-size: 14px;
}

ul.signup-login li.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(7, 104, 175, 0.5);
    width: 90px;
    height: 40px;
    border: 2px solid #0768af;
    border-radius: 20px;
    font-weight: bold;
}

ul.signup-login li.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    font-weight: bold;
}

.content {
    display: flex;
    position: relative;
    width: 100%;
    height: 850px;
    overflow: hidden;
}

.content-slide {
    display: none;
    position: relative;
    width: 100%;
    left: 0;
}

.active {
    display: flex;
    transition: all 0.5s ease-in-out;
}

.bg-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activision-container {
    position: absolute;
    top: 40%;
    left: -25%;
    transform: translate(0%,-40%);
    width: 100%;
}

.activision-container-inside {
    max-width: 500px;
    margin: auto;
}

.activision-container img {
    width: 450px;
    display: flex;
    margin: auto;
    cursor: pointer;
}

.activision-container p {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    margin: 15px 0px;
}

.container-btn {
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    margin: 25px 0px;
    cursor: pointer;
}

.container-hero-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(7, 104, 175, 0.5);
    border: 2px solid #0768af;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

.container-hero-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

.nav-arrow-dots {
    width: 400px;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    top: 85%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.arrow-left-right {
    display: flex;
    justify-content: space-between;
    width: 320px;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%,85%);
    cursor: pointer;
}

.arrow-left-right i {
    color: #ffffff;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,85%);   
}

.dot {
    display: flex;
    width: 15px;
    height: 15px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: transparent;
    margin: 0px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.active-dot {
    background-color: #ffffff;
}

.content-articles {
    position: relative;
    background-image: radial-gradient(40% 40% at 50% 0, rgba(104, 104, 104, 0.85), #111111);
    padding: 80px 0px;
    margin-top: -15px;
}

.content-articles h1 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    top: -25px;
}

.tab-content {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    width: 1200px;
    margin: auto;
}

.blog-tab-item {
    padding: 5px 25px;
    margin: 0px 5px;
    cursor: pointer;
}

.blog-tab-item h3 {
    color: #ffffff;
    font-size: 20px;
    height: 55px;
    padding: 12px 0px;
}

.blog-tab-item img {
    width: 100px;
    height: 50px;
    filter: grayscale(100%);
}

.active-tab {
    background-color: rgba(7, 104, 175, 0.5);
    border-bottom: 5px solid #0768af;
}

@media screen and (max-width: 1200px){

    .header-menu li a {
        display: none;
    }

    .header-menu i {
        display: none;
    }

    .activision-container {
        left: 0%;
    }

    .activision-container-inside {
        max-width: 550px;
        margin: auto;
    }

    .container-btn {
        padding: 0px 5%;
    }

    .container-hero-2 {
        padding: 0px 5%;
    }

}