* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #000;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #535353;
  z-index: 1;
}

.menu {
  display: flex;
}

.logo img {
  width: 200px;
  height: 75px;
  object-fit: cover;
}

.menu li {
  list-style: none;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  padding: 0px 18px;
  font-size: 19px;
  transition: all 0.2s ease-in-out;
}

.menu li a:hover {
  color: #ee6102;
}

.menu-bar {
  display: none;
}

.menu-bar i {
  color: #fff;
  font-size: 22px;
}

#close-icon {
  display: none;
}

form {
  display: flex;
}

form input {
  width: 200px;
  height: 35px;
  padding: 10px 5px;
  background-color: transparent;
  border: 1px solid #ee6102;
  padding-left: 10px;
  color: #fff;
}

form input:focus {
  outline: none;
}

form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 35px;
  background-color: #ee6102;
  border: 1px solid #ee6102;
  cursor: pointer;
}

form i {
  color: #fff;
  font-size: 20px;
}

.movie-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.movie-detail img {
  width: 200px;
  margin-top: 10px;
}

.movie-detail h2 {
  color: #fff;
}

.movie-detail p {
  color: #fff;
  margin-top: 5px;
  padding: 8px 0px;
}

.movie-detail a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  background-color: #ee6102;
  width: 200px;
  height: 40px;
  margin-top: 10px;
  font-size: 19px;
  border-radius: 3px;
  transition: 0.5s;
}

.movie-detail a:hover {
  background-color: #fff;
  color: #ee6102;
  border: 1px solid #ee6102;
}

.intro-end {
  border-top: 1px solid #ee6102;
  border-bottom: 1px solid #ee6102;
  margin-top: 60px;
  padding: 10px 0px;
}

.intro-end-inside {
  max-width: 1180px;
  margin: 10px auto;
  color: #fff;
}

.intro-end-inside p {
  margin-top: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

footer img {
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.group {
  display: block;
}

.group h2 {
  color: #fff;
}

.group-icon {
  display: flex;
  cursor: pointer;
}

.group-icon a {
  color: #fff;
  text-decoration: none;
}

.group-icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 22px;
  margin-top: 10px;
  border-radius: 8px;
  margin-right: 15px;
}

#facebook {
  background-color: #4267b2;
}

#instagram {
  background: linear-gradient(
    to bottom right,
    #4c68d7,
    #8a3ab9,
    #e95950,
    #e95950,
    #fccc63,
    #fbad50
  );
}

#youtube {
  background-color: rgb(255, 0, 0);
}

@media screen and (max-width: 1190px) {
  .movie-column {
    max-width: 990px;
  }
}

@media screen and (max-width: 1000px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 1000px;
    position: absolute;
    top: 0;
    right: -100%;
    background-color: #000;
    transition: 0.5s;
  }

  .menu li {
    margin: 30px;
  }

  .menu-active {
    right: 0;
  }

  #close-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
    color: #fff;
    font-size: 20px;
    z-index: 3;
    cursor: pointer;
  }

  .logo img {
    width: 150px;
  }

  form input {
    width: 150px;
    font-size: 16px;
  }

  .menu-bar {
    display: block;
    margin-top: 5px;
    margin-left: 20px;
    cursor: pointer;
  }

  .banner-img img {
    height: 500px;
  }

  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .banner-content-img img {
    width: 150px;
    opacity: 1;
    margin: auto;
  }

  .banner-content h2 {
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
  }

  .banner-content a {
    width: 100%;
  }

  .movie-column {
    max-width: 750px;
  }
}

@media screen and (max-width: 750px) {
  .movie-column {
    max-width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .movie-column {
    max-width: 250px;
  }

  .all-movies h1 {
    text-align: center;
    font-size: 23px;
  }
}
